{% extends "include.html" %} {% load staticfiles  %} {% block content  %}
	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>Single Product 1</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- Single Page -->
	<div class="banner-bootom-w3-agileits py-5">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>P</span>roduct
				<span>D</span>etails</h3>
			<!-- //tittle heading -->
			<div class="row">
				<div class="col-lg-5 col-md-8 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider">
							<ul class="slides">
								<li data-thumb="{{product.image_url}}">
									<div class="thumb-image">
                                        <img src={{product.image_url}} data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-7 single-right-left simpleCart_shelfItem">
					<h2 class="mb-3">
					{{product.title}}
					<div class="single-infoagile">
						<ul>
							<li class="mb-3">
								{{product.description}}
							</li>
						</ul>
					</div>
					<div class="product-single-w3l">
						<h2>Online Sellers</h2>
						<p class="my-3">
							<i class="far fa-hand-point-right mr-2"></i>
							Amazon</p>
						{% if amazon %}
						<ul>
							<li class="mb-1">
								Price: {{ amazon.price }}
							</li>
							<li class="mb-1">
								{% if amazon.is_available %}
								Availablility: In Stock
								{% else  %}
								Availablility: Out of Stock
								{% endif %}
							</li>
							<li class="mb-1">
								Link: <a href="https://www.amazon.in/dp/{{amazon.asin}}" target="_blank">https://www.amazon.in/dp/{{ amazon.asin }}</a> 
							</li>
						</ul>
						{% else %}
						<li class="mb-1">
								Not Available
						</li>
						{% endif %}
					</div>
					<h2>Offline Sellers</h2>
					{% for shopitem in shopitems %}
					<div class="product-single-w3l">
						<p class="my-3">
							<i class="far fa-hand-point-right mr-2"></i>
							{{shopitem.shop}}</p>
						
						<ul>
							<li class="mb-1">
								Price : ₹{{shopitem.price}}
							</li>
							<li class="mb-1">
								Quantity: {{shopitem.quantity}}
							</li>
							{% if shopitem.shop.website != "" and shopitem.shop.website != "." %}
							<li class="mb-1">
								Website : {{shopitem.shop.website}}
							</li>
							{% endif %}
							<li class="mb-1">
								Location : {{shopitem.shop.address}}
							</li>
							<li class="mb-1">
								Owner : {{shopitem.shop.user.user.first_name}} {{shopitem.shop.user.user.last_name}}
							</li>
							<li class="mb-1">
								Owner : {{shopitem.description}}
							</li>
						</ul>
					{% endfor %}	
				</div>
					<div class="occasion-cart">
						<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
							<form action="#" method="post">
								<fieldset>
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="business" value=" " />
									<input type="hidden" name="item_name" value="Samsung Galaxy J7 Prime" />
									<input type="hidden" name="amount" value="200.00" />
									<input type="hidden" name="discount_amount" value="1.00" />
									<input type="hidden" name="currency_code" value="USD" />
									<input type="hidden" name="return" value=" " />
									<input type="hidden" name="cancel_return" value=" " />
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Single Page -->

	<!-- middle section -->
	<div class="join-w3l1 py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<div class="row">
				<div class="col-lg-6">
					<div class="join-agile text-left p-4">
						<div class="row">
							<div class="col-sm-7 offer-name">
								<h6>Smooth, Rich & Loud Audio</h6>
								<h4 class="mt-2 mb-3">Branded Headphones</h4>
								<p>Sale up to 25% off all in store</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
                                <img src={% static "images/off1.png" %} alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-lg-0 mt-5">
					<div class="join-agile text-left p-4">
						<div class="row ">
							<div class="col-sm-7 offer-name">
								<h6>A Bigger Phone</h6>
								<h4 class="mt-2 mb-3">Smart Phones 5</h4>
								<p>Free shipping order over $100</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
                                <img src={% static "images/off2.png" %} alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- middle section -->

{% endblock %}
